<?xml version="1.0" encoding="utf-8"?>
<!-- 配置文档 https://nlog-project.org/config -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info">
	<!-- 启用.net core的核心布局渲染器 -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<!-- 写入日志的目标配置 archiveAboveSize="102400" maxArchiveDays="60" -->
	<targets>
		<!-- 信息  -->
		<target xsi:type="File" name="info" fileName="../logs/info-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
		<!-- 错误  -->
		<target xsi:type="File" name="error" fileName="../logs/error-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
		<!-- 控制台  -->
		<!--<target xsi:type="Console" name="console" layout="${message}" />-->
		<target xsi:type="ColoredConsole" name="console" layout="${longdate}|${uppercase:${level}}|${logger}${newline}${message} ${exception:format=tostring}">
			<highlight-word regex="true" text="|TRACE|" foregroundColor="DarkGray" />
			<highlight-word regex="true" text="|DEBUG|" foregroundColor="Green" />
			<highlight-word regex="true" text="|INFO|" foregroundColor="Green" />
			<highlight-word regex="true" text="|WARN|" foregroundColor="Yellow" />
			<highlight-word regex="true" text="|ERROR|" foregroundColor="Red" />
			<highlight-word regex="true" text="|FATAL|" foregroundColor="Red" />
		</target>
		<!-- 数据库  https://github.com/NLog/NLog/wiki/Database-target -->
		<target name="db" xsi:type="Database" connectionString="Server=localhost; Port=3306; Database=quartz; Uid=root; Pwd=test; Charset=utf8mb4;SslMode=none;Min pool size=2" dbProvider="MySqlConnector.MySqlConnection, MySqlConnector">
			<commandText>
				INSERT INTO "tab_api_log"("Id", "Logged", "Level", "Message", "Logger", "Properties", "Callsite", "Exception") VALUES(@Id, @Logged, @Level, @Message, @Logger, @Properties, @Callsite, @Exception)
			</commandText>
			<!-- 自定义主键  -->
			<parameter name="@Id" layout="${event-properties:id}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<!-- 自定义属性  -->
			<parameter name="@properties" layout="${all-event-properties:separator=|}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
	</targets>
	<!-- 映射规则 -->
	<rules>
		
		<!--跳过不重要的微软日志-->
		<logger name="Microsoft.*" maxlevel="Debug" final="true" />
		<!-- <logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" /> -->

		<!-- 特殊处理：允许 HTTP Logging 日志显示 -->
		<!-- <logger name="Microsoft.AspNetCore.HttpLogging.*" minlevel="Info" writeTo="console" final="true" /> -->

		<!-- 数据库  -->
		<logger name="db" writeTo="db" />
		<!-- 命令台  -->
		<logger name="*" minlevel="Debug" writeTo="console" />
		<!-- 信息  -->
		<logger name="*" minlevel="Info" writeTo="info" />
		<!-- 错误  -->
		<logger name="*" minlevel="Error" writeTo="error" />
	</rules>
</nlog>